doctype html
html(ng-app='catalog')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/lib/angular.min.js')
    script(src='/lib/angular.min.js.map')
    script(src='/lib/angular-resource.min.js')
    script(src='/lib/angular-resource.min.js.map')
    script(src='/js/app.js')

